<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DevSadaqat Portfolio Website</title>
</head>
<body>
<header>
  <div class="logo">
     <img src="" alt="">
  </div>
    <button class="nav-toggle" aria-label="toggle navigation">
      <span class="hamburger"></span>
    </button>
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item"><a href="#" class="nav__link">Home</a></li>
        <li class="nav__item"><a href="#" class="nav__link">My Services</a></li> 
        <li class="nav__item"><a href="#" class="nav__link">About me</a></li> 
        <li class="nav__item"><a href="#" class="nav__link">My work</a></li>  
      </ul>
    </nav>
</header>

<!--- Introduction---->
 <section class="intro" id="home">
    <h1 class="section__title section__title--intro">
       Hi there, <strong>I'm Sadaqat Ali</strong> 
    </h1>
    <p class="section__subtitle section__subtitle--intro">Software Developer</p>
    <img src="assets/images/Profile.jpeg" alt="a picture of sadaqat ali">
 </section>

 <!--- My Services---->
 <section>
    <h2 class="section__title section_title--services">My Skills</h2>
    <div class="services">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Ratione eos amet blanditiis necessitatibus repudiandae aliquam porro pariatur maiores possimus et laboriosam illum harum maxime, 
      ex est inventore praesentium dignissimos sint!</p>
      <div class="service">
        <ul>
          <li>Javascript ES6</li>
          <li>HTML & CSS</li>
        </ul>
      </div>
  
    <div class="service">
      <ul>
        <li>Angular</li>
        <li>React</li>
      </ul>
    </div>
    <div class="service">
      <ul>
        <li>TypeScript</li>
        <li>Java</li>
      </ul>
    </div>

    <div class="service">
      <ul>
        <li>Git</li>
        <li>MySQL</li>
      </ul>
    </div>

    </div>

    <a href="#work" class="btn">My Work</a>

 </section>

 <!--- About Me---->
 <section class="about me" id="about">
    <h2 class="section__title section__title--about">Who I am</h2>
    <p class="section__subtitle section__subtitle--about"></p>

    <div class="about-me__body">
      <p></p>
      <p></p>
    </div>

    <img src="assets/images/profile-pic.jpeg" alt="Ali during internship">
 </section>

 <!--- My Work Area---->
 <section class="my-work" id="work">
   <h2 class="section__title">My Work</h2>
   <p class="section__subtitle"></p>
   
   <div class="protfolio">
      <!---Project 01----> 
    <a href="#" class="portfolio__item">
         <img src="" alt="" class="portfolio__img">
      </a> 
      
       <!---Project 02----> 
    <a href="#" class="portfolio__item">
      <img src="" alt="" class="portfolio__img">
   </a>

      <!---Project 03----> 
    <a href="#" class="portfolio__item">
      <img src="" alt="" class="portfolio__img">
   </a>

   </div>
 </section>
  
 <!---Footer---->
 <a href="mailto:s-sadaqatali@outlook.com" class="footer__link">s-sadaqatali@outlook.com</a>
 <ul class="social-list">
   <li class="social-list__item"><a class="social-list__link" href="https://www.linkedin.com/in/sadaqat-ali-dev/">a</a></li>
   <li class="social-list__item"><a class="social-list__link" href="https://github.com/DevSadaqat">b</a></li>
   <li class="social-list__item"><a class="social-list__link" href="https://www.linkedin.com/in/sadaqat-ali-dev/">c</a></li>
 </ul>

</body>
</html>

